#divUI {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 14px;
}

#divUI div {
    float: left;
    width: 125px;
    border-right: 1px solid #262626;
    margin-right: 5px;
}

#divUI div ul {
    list-style: none;
}

#divSpirit {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 14px;
}

#divSpirit ul {
    list-style: none;
}

#divSpirit ul li {
    float: left;
    margin-right: 5px;
}